# ignore emacs backups
*~
# compiled python binaries
*.pyc
# other binaries
*.so
*.o
# emacs hash filenames
\#*
pyfusion/pyfusion_database.txt
pyfusion/documentation/.build
NOTES

# benchmark profile stats
pyfusion/test/benchmarks/stats

pyfusion.egg-info

# coverage db
.coverage